src/main/resources/citizen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="citizen">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="firstName" minOccurs="1" maxOccurs="1"/>
				<xs:element type="xs:string" name="lastName" minOccurs="1" maxOccurs="1"/>
				<xs:element type="xs:string" name="city" minOccurs="1" maxOccurs="1"/>
				<xs:element type="xs:integer" name="ssn" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>